node_modules/
.pnpm-store/
.turbo/
.direnv/

dist/
build/
coverage/
playwright-report/
test-results/

packages/db/.data/

.DS_Store
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.secrets/*

.env
.env.local
.env.production
